/* Configuração padrão */
body, html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}

.conteudo {
    color: rgb(68, 62, 62);
    background-color: rgba(209, 199, 199, 0.7);    
    text-align: justify;   
    padding: 50px 80px;
}

h2 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p {
    margin-bottom: 20px;    
}

a {
    text-decoration: none;
    color: #111; 
    font-weight: bold;   
}
a:hover {
    color: #fff;
    background-color: #777;
    padding: 10px;
    font-weight: bold;
}

/* Configuração parallax*/
.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
    position: relative;
    height: 100%;
    width: 100%;  
    opacity: 0.7; 
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.caixa1 {
    background-image: url(../imagens/gnu-linux.png);
}
.caixa2 {
    background-image: url(../imagens/archlinux1.png);
}
.caixa3 {
    background-image: url(../imagens/debian1.png);
}

.caixa4 {
    background-image: url(../imagens/fedora1.png);
}

.caixa5 {
    background-image: url(../imagens/opensuse.png);
}

.caixa6 {
    background-image: url(../imagens/ubuntu1.png);
}

.conteudo-titulo {
    position: absolute;
    left: 0%;
    top: 45%;
    width: 100%;
    text-align: center;
}

.conteudo-titulo span.titulo {
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}